body{
    background-image:url("family.jpeg");
}

#header{
    width:100%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px black;
    padding-bottom: 20px;
    background-color:grey;

}

#fonts{
    font-family: 'Libre Baskerville', serif;
}

#model_train{
    box-shadow: 5px 5px 18px;
    border-radius: 10;
    
}

#objects{
    box-shadow: 5px 5px 25px;
}

.result{
   
    font-size: 20px;
    margin-top: 10px;
   
}

.result span{
    white-space:pre-line;
}



.footer_div{
    color:slategray;
    background-color: blanchedalmond;
    bottom: 0;
    position:fixed;
    width: 100%;
    text-align: center;
    line-height: 30px;
     font-family: 'Source Serif Pro', serif;


}

canvas{
box-shadow: 5px 5px 5px black;
border-radius:20px;
border: 5px solid burlywood;

}
